
.cpmTable{
	border:1px solid #e4e5e6;
	border-spacing: 0;
}
.cpmTable table {
    font-size:12px;
    border:1px solid #000000;
    border-collapse: collapse;
    border-spacing: 0;
}
.cpmTable td {
    vertical-align:middle; text-align:left;
    border:1px solid #e4e5e6; 

}

.cpmTable th {
    background: #f6f6f6; /* #F7F3F7; */
    border:1px solid #000000; 
    font-weight: bold;
}

.cpmTable .cpmTable tr {
    background: transparent;

}

.cpmTable .cpmTableExpendieCollapse{
	font-size: 16;
	font-weight: bold;
}
.cpmTable .cpmTableExpendieExpand{
	font-size: 16;
	font-weight: bold;
}


.cpmTable  .hideRepeaterItem{
	display:none;
}
.cpmTable .unhideRepeaterItem{
	display:"";
}

          
.cpmTable .cpmtableItemNormal{
	background-color: #FAF9F9; 
}

/*
 * alternate colors. say items from 1 to 5.
 * r1,r3,r5  in .cpmtableItemOddRow
 * r2, r4  in .cpmtableItemEvenRow
 */
.cpmTable   .cpmtableItemOddRow{
	background-color:#FAF9F9;
}

.cpmTable  .cpmtableItemEvenRow{
	background-color: #FAF9F9 ;
}



.cpmTable  .cpmtableItemHover{
	background-color: #e4e5e6; /*hover cpmtable item */
}

.cpmTable  .cpmtableItemDown{
	background-color: #c2cbd1;/*selected cpmtable item */
}

/* Common Condition Editor */

.cpmTable button.ui-button-icon-only{
	width:30px;
	min-height: 20px;
}

.cpmTable.conditioneditor .cpmtableItemNormal {
  background-color: #fff;
}

.cpmTable.conditioneditor  .cpmtableItemHover{
	background-color: #e4e5e6; /*hover cpmtable item */
}

.cpmTable.conditioneditor  .cpmtableItemDown{
	background-color: #c2cbd1;/*selected cpmtable item */
}

.cpmTable .cceTH  {
   text-align:left;
   cursor: default;
}

.cpmTable .cceOperator{
	/* background-color: #cccccc; */
    /*min-width:16px;  */
}

.cpmTable .cceAND {
    background-image: url("../img/and.gif");
    
   
}

.cpmTable .cceOR {   
	 background-image: url("../img/or.gif");	
	
}

.cpmTable .cceNOT {
    background-image: url("../img/not.gif");     
    min-height: 20px;
}

.cpmTable .toolbarSeparator {  
    height: 100%;
    padding-left: 4px;
    line-height: 2em;
    margin-right:5px;
}

.cpmTable .cceTH .ui-button-text-only .ui-button-text {
  padding: 0 5px;
  font-size: 12px;
   min-height: 16px;
   margin-top:5px;
}

.cpmTable .cceRowImage{
	margin: 2px 3px 0px 3px;
}
.cpmTable .cceRowText{
	
}

.cpmTable .cpmTableCCEExpendieExpand{
	 background-image: url("../img/plus.gif");
	 background-size: 18px 18px;
}

.cpmTable .cpmTableCCEExpendieCollapse{
	 background-image: url("../img/minus.gif");
	 background-size: 18px 18px;
}

/* conditionEditorDialog */
.conditionEditorDialog label {
	display: inline-block;
	width: 10em;
}
			
.conditionEditorDialog	fieldset div {
	margin-bottom: 5px;
}